* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

@font-face {
    font-family: Roboto-Bold;
    src: url(/src/Fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(/src/Fonts/Roboto-Regular.ttf);
}

:root{
    --primary-page-colour: #14532d;
    --secondary-page-colour: #15803d;
    --text-white: #ffffff;
    --btn-primary: #009578;
    --btn-hover: #008168;
    --btn-active: #006e58;
    --btn-cancel: #751414;
    --btn-cancel-hover: #631313;
    --btn-cancel-active: #520e0e;
}

body{
    display: grid;
    grid-template-rows: 0.8fr 10fr 0.4fr;
    min-height: 100vh;
    font-family: Roboto, sans-serif;
}

/* header */
header{
    background-color: var(--primary-page-colour);
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: center;
    color: var(--text-white);
}

.logo{
    font-family: Roboto-Bolt, sans-serif;
    display: flex;
    align-items: center;
    gap: 0.5em;
}
.logo__text{
    font-size: 2rem;
}
.fa-regular{
    font-size: 2rem;
}
.show_nav{
    display: none;
    align-items: center;
}
.btn_nav{
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 2.5rem;
    color: var(--text-white);
    width: 2.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.search, .project_input{
    display: flex;
    justify-content: center;
    align-items: center;
}
#search, .project_input{
    max-width: 15rem;
    height: 1.5em;
    border: none;
    outline: none;
    font-size: 1.5em;
    border-radius: 1.5em;
}
.search input, .project_input{
    text-align: center;
    padding: 0 1em;
}

/* main */
main{
    display: grid;
    grid-template-columns: 1fr 5fr;
}
.nav-bar{
    background-color: var(--secondary-page-colour);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
}
.nav_buttons{
    display: flex;
    flex-direction: column;
    gap: inherit;
}
.projects{
    display: flex;
    flex-direction: column;
    gap: inherit;
    color: var(--text-white);
}
form{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: inherit;
    color: var(--text-white);
}
/* footer */

footer{
    background-color: var(--primary-page-colour);
    color: var(--text-white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    padding: 0.5rem;
}

/* btn */
.btn{
    display: inline-flex;
    height: 3.125rem;
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 0.325rem;
    overflow: hidden;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0 1.5rem;
    gap: 1rem;
}

.btn:hover{
    background: var(--btn-hover);
}

.btn:active{
    background: var(--btn-active);
}

.btn__text,
.btn__icon {
    display: inline-flex;
    align-items: center;
    color: var(--text-white);
    height: 100%;
}

.btn__icon{
    font-size: 2rem;
}

/* form buttons */
.input_buttons{
    display: inherit;
    gap: inherit;
}
.btn_add_project{ 
    font-size: 2em;
    color: var(--text-white);
    background-color: rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border-radius: 0.5em;
    cursor: pointer;
    width: 8.5rem;
}
.btn_add_project:hover{
    background-color: rgba(0, 0, 0, 0.15);
}
.btn_add_project:active{
    background-color: rgba(0, 0, 0, 0.2);
}

.btn_cancel_project{
    font-size: 2em;
    color: var(--text-white);
    background-color: var(--btn-cancel);
    padding: 1rem;
    border-radius: 0.5em;
    cursor: pointer;
    width: 8.5rem;
}
.btn_cancel_project:hover{
    background-color: var(--btn-cancel-hover);
}
.btn_cancel_project:active{
    background-color: var(--btn-cancel-active);
}
@media (max-width: 800px) {
    .show_nav{
        display:flex;
    }
    main{
        display: flex;
        flex-direction: column;
    }
}
