* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

@font-face {
    font-family: Roboto-Bold;
    src: url(/src/Fonts/Roboto-Bold.ttf);
}

:root{
    --primary-page-colour: #14532d;
    --secondary-page-colour: #15803d;
    --text-white: #ffffff;
}

html{
    display: grid;
    grid-template-rows: 3fr 5fr 1fr;
    min-height: 100vh;
}

header{
    background-color: var(--primary-page-colour);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: space-between;
    align-content: center;
    padding: 1rem 2rem;
    align-items: center;
    color: var(--text-white);
}

.logo{
    font-family: Roboto-Bolt, sans-serif;
    display: flex;
    align-items: center;
    gap: 0.5em;
}
.logo__text{
    font-size: 3rem;
}
.fa-regular{
    font-size: 3rem;
}
.show_nav{
    display: flex;
    align-items: center;
    justify-content: end;
}
.btn_nav{
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 3rem;
    color: var(--text-white);
    width: 3rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
}
#search{
    width: 40rem;
    height: 1.5em;
    border: none;
    outline: none;
    font-size: 1.5em;
    border-radius: 1.5em;
}
.search input[type=text]{
    text-align: center;
    padding: 0 1em;
}